html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #333333;
    font-family: sans-serif;
}

.forma-omotac {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.forma {
    width: 50%;
    box-sizing: border-box;
    background-color: #232323;
    color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    gap: 15px;
}

.forma-naslov {
    font-size: 26px;
    padding-bottom: 15px;
}

.forma-item {
    width: 100%;
    display: flex;
    gap: 15px;
}

.forma-item-label {
    width: 75px;
    font-size: 20px;
}

.forma-item-input {
    padding: 5px 15px;
    flex-grow: 1;
    background-color: #333333;
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 20px;
}

.forma-button-omotac {
    padding-top: 15px;
    display: flex;
    justify-content: end;
}

.forma-button {
    background-color: forestgreen;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 22px;
    padding: 5px 15px;
    cursor: pointer;
}

.forma-greska {
    height: 24px;
    font-size: 20px;
    display: flex;
    align-items: center;
    width: 50%;
    padding-top: 25px;
}

.rezultat-omotac {
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
    font-size: 20px;
}

.rezultat-tabela {
    width: 50%;
    border-collapse: collapse;
}

.rezultat-tabela td {
    width: 50%;
    padding: 15px;
    border: 1px solid white;
}

.rezultat-tabela td:nth-child(2n-1) {
    font-weight: bold;
}
